/* ESTILO GERAL */
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

body{
    
    background-color: rgb(15, 0, 0);
    height: 100vh;
}

.interface{
    max-width: auto;
    margin:  auto;
}

.flex{
    display: flex;
}

.top-bar {
    width: 100%;
    height: 7%;
    background-color: black;
}

h2.titulo span{
    font-size: 39px;
    text-align: center;
    color: rgba(250, 0, 0, 0.732);
}

.ba:hover{
    box-shadow: 0px 0px 8px #b30707;
    transform: scale(1.15);
}

/* header fixo*/
.Eheader-fixo {
    width: 20%;
    height: 4%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    margin: 0.9%
  }
  
  .header-fixo {
    background-color: black;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 0 0 15% rgb(0, 0, 0);
    border-radius: 30px; /* raio de curvatura das bordas */
    gap: 23px;
  }
  
  .nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 90%;
    cursor: pointer;
    border-radius: 9px;
  }
  .nav-button:hover {
    color: rgb(196, 196, 196);
  }
  /* header fixo FIM*/
section.topo-do-site{
    padding: 30px 4%;
}



section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 70px;
}

.topo-do-site{
    color: #ffffff;
    font-family: 20px;
    line-height: 19px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 38px;
    line-height: 28px;
}

.topo-do-site .txt-topo-site h1 span{
    margin-top: 30%;
    color: rgb(175, 11, 11);
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 20px 0px;
    }

.topo-do-site .img-topo-site img{
    
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 50px;
    }
}

.bs-social button{
    width: 45px;
    height: 45px;
    border-radius: 80%;
    border: none;
    cursor: pointer;
    margin: 0 3px;
    transition: .2s;
    background-color: #9e0707
}

/* ESTILO DO DESTAQUE */
section.destaques{
    padding: 100px 5%;
    box-shadow: 0 0 40px 8px rgba(255, 0, 0, 0.355);
    margin-top: 50px;
    color: #b30707;
    text-align: center;
}

section.destaques .flex{
    gap: 50px;
    justify-content: space-around;
    margin-top: 50px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
}

.img-port:hover{
    background-position: 100% 100%;
}

/* capa */
.capa {
    position: relative;
    scroll-snap-align: start;
    border: solid #b3070770;
  }
  .capa:hover {
    transform: scale(0.91);
    box-shadow: 0 0 20px hsl(0, 99%, 56%);
  }
  .capa2 {
    position: relative;
    scroll-snap-align: start;
  }
  /*Texto*/

.ETexto-M{
    display: flex;
    align-items: center;
    position: relative;
  
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .Texto-M{
    font-size: 39px;
    text-align: center;
    color: rgba(250, 0, 0, 0.732);
    margin: 1.5%;
    color: #ffffff;
    font-size: 100%;
    margin-left: 1%;
    height: auto;
    font-family: 'Roboto', sans-serif;
  }

/* ESTILO DOS FILMES & SÉRIES */
.ECarrossel-M {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 0 40px 8px rgba(255, 0, 0, 0.138);
  }
  .Carrossel-M {
    align-items: center;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 2%;
    
  }

  .TMHp1-1 {
    font-size: 39px;
    text-align: left;
    color: rgba(250, 0, 0, 0.732);

    color: #ffffff;
    font-size: 100%;
    
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin: 1.9%;

 }
  /* scroll */

.scroll-button {
    width: 4%;
    height: 100%;
    position: absolute;  
    z-index: 5;
    background: none;
    border: none;
    color: white;
    font-size: 500%;
    font-family: monospace;
    cursor: pointer;
    text-shadow: 30pt;
  }
  
  .scroll-button:hover {
    transform: scale(200%);
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0.1%;
  }
/* ESTILO DO RODAPÉ */
footer{
    padding: 50px 4%;
    box-shadow: 0 0 40px 8px #b30707d5;
}

footer .flex{
    justify-content: center;
}

footer .line-footer{
    padding: 40px 0;
    text-align: center;
}

.footer-text {
    color: rgba(255, 255, 255, 0.767);
    font-size: 15px;
}


.footer-text a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.borda{
    border-top: 2px solid #b30707d5;
}

.minhas-social button {
    width: 45px;
    height: 45px;
    border-radius: 80%;
    border: none;
    cursor: pointer;
    margin: 0 4px;
    transition: .3s;
    background-color: #ffffff;
    display: inline-block;
}

footer .line-footer p{
    color: rgba(255, 255, 255, 0.767);
    font-size: 15px;
}

footer .line-footer p a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
